/* IMPORT SUSY GRID SYSTEM */
@import "../../bower_components/susy/sass/_susy.scss";

/* GOOGLE WEB FONTS */
@import url(http://fonts.googleapis.com/css?family=Vollkorn:400,700|Roboto:400,100,700);

/* LOAD VARIABLES */
@import "_variables.scss";

/* DELETE FROM HERE DOWN TO START FRESH OR VIEW EXAMPLES FOR SUSY AND SASS STRUCTURE */
body{
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: $gray;
    font-family: $fontSerif;


}

nav{
    @include span(12 of 12);
    height: 80px;
    background-color: $white;
    margin-bottom: 10px;

    @include transition(all, .5s, ease);

    &:hover{
        height: 100px;
    }
}


.row{
    @include container(70em);

    @include tablet{
        @include container(50em);
    }

    @include mobile{
        @include container(20em);
    }
}

.primary-button{
    @include button(transparent, $gray, black);
}


/* EXAMPLE GRID BOX CLASSES */

.box{
    height: 150px;
    background-color: $white;
    margin-bottom: 10px;

    @include mobile {
         height: 120px;
    }
}

.box1{
    @include span(12 of 12);
    @include box-shadow(1px, 1px, 4px, gray);
    background-image: url('../images/bg.jpg');
    background-size: 100% auto;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: -1;

}

.box2{
    @include span(6 of 12);

    &:nth-child(2){
        @include span(6 of 12 last);
        @include mobile {
            @include span(12 of 12);
        }
    }

    @include mobile {
         @include span(12 of 12);
    }
}

.box3{
    @include span(3 of 12);

    &:nth-child(4){
        @include span(3 of 12 last);
        @include mobile {
            @include span(12 of 12);
        }
    }

    @include mobile {
         @include span(12 of 12);
    }
}

.box4{
    @include span(4 of 12);

    &:nth-child(3){
        @include span(4 of 12 last);
        @include mobile {
            @include span(12 of 12);
        }
    }

    @include mobile {
         @include span(12 of 12);
    }
}

.image-overlay-content{
    @include span(12 of 12);
    height: 92vh;

    .image-overlay-text{
        @include span(5 of 12);
        color: $gray;
        position: absolute;
        bottom: 160px;
        left: 12%;
        padding: 50px;
        background-color: rgba(0,0,0, .6);

        h1{
            font-family: $fontSans;
            font-weight: 100;
            letter-spacing: 1px;
            text-transform: uppercase;
        }

        p{
            @include font-size(18px);
            letter-spacing: 1px;
            line-height: 26px;
        }
    }

}





